doctype html
html
  include includes/head.pug
  body
    nav.navbar.navbar-default.navbar-inverse(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='#') Test Product
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Link
            li
              a(href='#') Link
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
                li.divider
                li
                  a(href='#') One more separated link
          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            |  
            button.btn.btn-default(type='submit') Submit
          ul.nav.navbar-nav.navbar-right
            li
              p.navbar-text Already have an account?
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                b Login
                span.caret
              ul#login-dp.dropdown-menu
                li
                  .row
                    .col-md-12
                      | Login via
                      .social-buttons
                        a.btn.btn-social-icon.btn-facebook(href='/auth/facebook')
                          i.fa.fa-facebook
                        a.btn.btn-social-icon.btn-google(href='/auth/google')
                          i.fa.fa-google
                      |  or
                      form#login-nav.form(role='form', method='post', action='/auth/login', accept-charset='UTF-8')
                        .form-group
                          label.sr-only(for='exampleInputEmail2') Email address
                          |  
                          input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='')
                        .form-group
                          label.sr-only(for='exampleInputPassword2') Password
                          |  
                          input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='')
                          .help-block.text-right
                            a(href='') Forget the password ?
                        .form-group
                          button.btn.btn-primary.btn-block(type='submit') Sign in
                        .checkbox
                          label
                            input(type='checkbox')
                            |  keep me logged-in
                    .bottom.text-center
                      | New here ? 
                      a(href='#')
                        b Join Us
    div.container
      block content

    include includes/scripts.pug
