head
  title= title
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/components/bootstrap-social/bootstrap-social.css')

  link(rel='stylesheet', href='/stylesheets/style.css')