script(src='/components/jquery/dist/jquery.min.js')
script(src='/components/bootstrap/dist/js/bootstrap.min.js')
script(src='/components/socket.io-client/socket.io.js')
script(src='/scripts/app.js')
  
