extends ../layout

block content
  h2 Log In

  form(action="/auth/login",method="post")
    input(type='hidden', name='_csrf', value=csrf)
    div
      label Username
      input(type="text",name="username")

    div
      label Password
      input(type="password",name="password")

    div
      input(type="submit",value="Log In")